#MMM-PIR {
  font-size: large;
  min-width: 250px;
}

#MMM-PIR.hidden {
  display: none;
}

#MMM-PIR_TEXT {
  margin-right: 10px;
}

#MMM-PIR_PRESENCE,
#MMM-PIR_SCREEN {
  font-size: large;
  display: flex;
}

#MMM-PIR_PRESENCE.hidden,
#MMM-PIR_BAR.hidden,
#MMM-PIR_SCREEN.hidden {
  display: none;
}

#MMM-PIR_PRESENCE_TEXT,
#MMM-PIR_SCREEN_TEXT {
  margin-right: 10px;
}


#MMM-PIR_SCREEN_BAR {
  font-size: large;
  min-width: 100px;
}

#MMM-PIR_SCREEN_BAR.Line {
  height: 40px;
}

#MMM-PIR_SCREEN_BAR.Circle {
  width: 100px;
  height: 93px;
  margin-bottom: 10px;
}

#MMM-PIR_SCREEN_BAR.SemiCircle {
  width: 100px;
}
