/* Main */
#MMM-PIR {
  font-size: large;
  min-width: 250px;
  display: inline-flex;
  flex-direction: column;
}

#MMM-PIR.hidden {
  display: none;
}

/* Text */
#MMM-PIR_TEXT {
  font-size: large;
  display: flex;
}

#MMM-PIR_TEXT.hidden {
  display: none;
}

#MMM-PIR_TEXT_TRANSLATE {
  margin-right: 10px;
}

/* Style */

#MMM-PIR_STYLE {
  font-size: large;
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#MMM-PIR_STYLE.Line {
  height: 40px;
}

#MMM-PIR_STYLE.Circle {
  width: 100px;
  height: 93px;
  margin-bottom: 10px;
}

#MMM-PIR_STYLE.SemiCircle {
  width: 100px;
}

#MMM-PIR_STYLE.hidden {
  display: none;
}

/* Presence */
#MMM-PIR_PRESENCE {
  font-size: large;
  display: flex;
}

#MMM-PIR_PRESENCE.hidden {
  display: none;
}

#MMM-PIR_PRESENCE_TEXT {
  margin-right: 10px;
}

/* availability */
#MMM-PIR_AVAILABILITY {
  font-size: large;
  display: flex;
}

#MMM-PIR_AVAILABILITY_TEXT {
  margin-right: 10px;
}